langchain
langchain-core
langchain-community
langchain-text-splitters

langgraph

langchain-mistralai

tavily-python

chromadb

sentence-transformers

beautifulsoup4
requests
lxml

python-dotenv

pydantic

tiktoken

fastapi
uvicorn

streamlit

pypdf
python-docx
unstructured

numpy
pandas

langsmith